ul li {
    background-color: red;
}

img {
    height: auto;
    width: 600px;
}

h1, h2 {
    color: blue;
}

.step.header {
    font-weight: 200;
}

.step.list {
    font-family: sans-serif;
    font-size: 10px;
}